<div class="bg-white border" *ngIf="(photo$ | async) as photo">
    <div class="row">
      <div class="col-lg-8">
        <app-photo [url]="photo.url" [description]="photo.description"></app-photo>
      </div>
  
      <div class="col-lg-4 p-4">
        <small>
          <p class="text-left break-word">{{photo?.description}}</p>
          <div class="text-left mb-4">
            <button (click)="like(photo)" appShowIfLogged class="btn rounded-circle"><i class="fa fa-heart-o fa-2x red-heart"></i></button><span class="ml-2">{{ photo.likes }}</span>            
            <i class="fa fa-comment-o fa-2x mr-2 ml-2"></i>{{ photo.comments }}
            <button appPhotoOwnerOnly [ownedPhoto]="photo" class="btn pull-right" (click)="remove()"><i class="fa fa-trash-o fa-2x"></i></button>
          </div>
        
          <hr />
        </small>
        <app-photo-comments *ngIf="photo.allowComments; else warning" [photoId]="photoId"></app-photo-comments>
        <ng-template #warning>
          <p>User has disabled comments for this photo</p>
        </ng-template>
      </div>
    </div>
  </div>