<header class="fixed-top">
    <nav class="navbar navbar-light bg-white">
        <a class="navbar-brand">ALURAPIC</a>
        <div *ngIf="(user$ | async) as user; else login">
            <i class="fa fa-user-circle" aria-hidden="true"></i>
            <a class="ml-2">{{ user.name }}</a>
            <button class="btn btn-link ml-3" (click)="logout()">(Sair)</button>
        </div>

        <ng-template #login>
            <span class="navbar-text">
                <a [routerLink]="['']">Please, login!</a>
            </span>
        </ng-template>
    </nav>
    <div class="fixed-top">
        <app-alert></app-alert>
    </div>
</header>